<h3>スケジュール詳細<h3>

<table>
    <tr>
        <th>タイトル</th>
        <td><%= @task.content %></td>
    </tr>

    <tr>
        <th>開始日</th>
        <td><%= @task.start_at %></td>
    </tr>

    <tr>
        <th>終了日</th>
        <td><%= @task.end_at %></td>
    </tr>

    <tr>
        <th>終日</th>
        <td>
            <% if @task.is_all_day %>
            <strong>◯</strong>
            <% end %>
        </td>
    </tr>

    <tr>
        <th>メモ</th>
        <td><%= @task.memo %></td>
    </tr>

    <div>
        <ul>
            <li><%= link_to "一覧に戻る",tasks_path %></li>
        </ul>
    </div>

</table>